
/* @import "tailwindcss/preflight"; */
@import "tailwindcss";

/* my custom styles */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  margin: 0px;
}
::-webkit-scrollbar-track-piece{
  padding: 0px;
}
::-webkit-scrollbar-track{
  margin: 5px;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 1px;
}

*{
  font-family: "Poppins", sans-serif;
}

body{
  margin: 0;  
  background-color: rgb(23, 23, 24);
  color: #eeee;
  letter-spacing: 1.2px;
}
.Main{
  margin: 0px;
  display: block;
  background-image: url('./assets/back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  background-attachment: fixed;
}
.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  background-color: rgb(23, 23, 24, 0.9);
}
.Header .Title{
  width: auto;
  font-weight: bold;
  font-size: 40px;
  color: #abc;
  padding: 0px 30px;
}
.Header-links{
  padding-top: 1rem;  
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 10px;
}
.Header-links a{
  color: #dddd;
  font-size: medium;
  text-transform: capitalize;
  text-decoration: none;
}
.Header-links a:hover{
  color: rgb(207, 121, 8);
  font-size: medium;
}
.bars{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px;
}


.showLink{
  background-color: transparent;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  z-index: 999;
  display: none;
  color: #abc;
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}

/* Contents Div */

.Profile-content{
  width: 80%;
  text-align: center;
}
.Profile-content .Pic{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  border-radius: 100px;
  justify-self: center;
}
.Profile-content .Pic img{
  width: 100%;
}
.btn-1{
  background: linear-gradient(to right, rgb(210, 30, 255), rgb(207, 121, 8));
  border: 0px;
  padding: 10px 14px;
  border-radius: 10px;
  color: #eeee;
  margin: 5px;
  font-weight: 600;
}
.a{
  font-size: 13px;
  font-weight: 600;
}
.btn-3{
  background: radial-gradient( rgba(34, 34, 34, 0.733), rgba(80, 80, 80, 0.486));
  border: 0px;
  padding: 10px;
  border-radius: 20px;
  color: #eeee;
  margin: 5px;
  font-size: 13px;
  font-weight: 600;

}
.btn-2{
  background: radial-gradient( rgba(27, 27, 27, 0.808), rgba(165, 96, 5, 0.486));
  border: 0px;
  padding: 10px 14px;
  border-radius: 10px;
  color: #eeee;
  margin: 5px;
}
.btn-dark{
  background: radial-gradient( rgba(212, 212, 212, 0.808), rgba(212, 211, 211, 0.808));
  border: 0px;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #eeee;
  margin: 5px;
  font-weight: 600;
}
.btn-2:hover, .btn-1:hover, .btn-3:hover{
  background: rgba(46, 46, 46, 0.432);
  cursor: pointer;
}
.btn-3:hover{
  background-color: rgb(207, 121, 8, 0.5);
}


/* Contact Form */

.gap-1{
  gap: 1rem;
}
.input-field{
  background-color: rgb(23, 23, 24);
  outline: 0.5px solid rgba(124, 124, 124, 0.486);
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #abc;
  flex: 1;
  width: 50%;
}
textarea{
  font: 13px "Poppins", sans-serif;
}
.input-field-large{
  width: 100%;
}
.input-field:focus{
  background-color: rgb(23, 23, 24);
  outline: 0.5px solid rgb(207, 121, 8);
}

.SentMessage, .ErrorMessage{
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 14, 9);
}
.SentMessage .Message, .ErrorMessage .Message{
  display: block;
  text-align: center;
  /* background-color: rgb; */
}

.contact-direct{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.contact-direct img{
  filter: brightness(40%);
/* }
.contact-direct .flex{
  color: rgb(121, 120, 120);
  padding: 5px 16px;
  border-radius: 30px;
  border: 1px dotted rgb(61, 61, 61);
  font-size: 12px;
  background-color: rgba(27, 27, 27, 0.808);
} */
/* End of Contact Form */

/* Additional styles */

.color-1{
  color: rgb(207, 121, 8);
}
.color-2{
  color: rgb(210, 30, 255);
}
.big-text{
  font-size: 30px;
  font-weight: 800;
  color: #ffff;
}
.medium-text{
  font-size: 25px;
  font-weight: 700;
  color: #e9e6e6;
}
.fw-6{
  font-weight: 600;
  color: #e9e6e6;
}
.small-text{
  font-size: 15px;
  color: #dddd;
}
.pi{
  padding: 2px;
  border-radius: 50px;
  margin: 10px;
  background-color: rgb(207, 121, 8);
}
.pi-2{
  padding: 2px;
  border-radius: 50px;
  margin: 10px;
  background-color: rgb(109, 109, 109);
}

.bg-trans-1{
  background-color: rgb(24, 23, 23);
  border: 1px solid rgb(53, 52, 52);
}
.bg-trans-2{
  background-color: rgb(17, 17, 17);
}
.pad-1{
  padding: 0.50rem;
}
.pad-2{
  padding: 0.75rem;
}
.pad-3{
  padding: 1rem;
}
.pad-4{
  padding: 1.5rem;
}
.pt-1{
  padding-top: 0.5rem;
}
.pt-2{
  padding-top: 1rem;
}
.pt-3{
  padding-top: 1.5rem;
}
.ps-1{
  padding-left: 0.5rem;
}
.pe-1{
  padding-right: 0.5rem;
}
.flex{
  display: flex;
}
.m-1{
  margin: 0.50rem;
}
.m-2{
  margin: 0.75rem;
}
.m-3{
  margin: 1rem;
}
.round-2{
  border-radius: 16px;
}
.dd-flex{
  display: flex;
}
.footer{
  border-top: 0.5px solid #333;
  font-weight: 400;
  letter-spacing: normal;
  color: #abc;
}


@media (max-width: 768px) {
  .showLink{
    display: block;
  }
  .Header{
    display: flex;
    width: 100%;
  }
  .Header .Title{
    font-size: 30px;
    padding: 0px 10px;
  }
  .Header-links{
    display: none;
    background: rgb(22, 14, 9);
    border: 1px solid #333;
    box-shadow: 0px 0px 5px 1px #050505;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 1rem;
    width: 200px;
    margin: auto;
    padding: 5px;
  }
  .Header-links .a:hover{
    background-color: rgba(27, 27, 27, 0.408);
    border-radius: 2px;
    padding: 2px 10px;
  }
  .rounded-btn{
    font-size: 13px;
  }
  .Profile-content{
    width: 100%;
  }
  .medium-text{
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .pi-2{
    padding: 5px;
  }
  .pad-1{
    padding: 0.25rem;
  }
  .pad-2{
    padding: 0.50rem;
  }
  .pad-3{
    padding: 0.75rem;
  }
  .pad-4{
    padding: 1rem;
  }
  .Header{
    display: flex;
  }
  .section{
    padding: 10px 0px;
  }
  .big-title{
    width: 100%;
  }
  .div-content{
    width: 100%;
  }
  .contact-direct{
    flex-direction: column;
  }
}
